<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clínica Esperanza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/estilos.css" />
    <script src="main.js"></script>
</head>
<body>
    <header>
        <h1>Clínica Esperaza</h1>
        <nav>
            <ul>
                <li><a href="http://localhost/esperanza">Personas</a></li>
                <li><a href="http://localhost/esperanza/nueva-persona">Nueva Persona</a></li>
                <li><a href="http://localhost/esperanza/historiales">Historiales</a></li>
                <li><a href="http://localhost/esperanza/nuevo-historial">Nuevo Historial</a></li>
             </ul>
        </nav>
    </header>
    <div>
        <div>
            <form action="">
                <input type="text" value="105849" disabled>
                <input type="text" value="Elmer Alejandro Chanquín Pérez">
                <input type="text" value="3029987800108">
                <input type="text" value="Guatemala">
                <input type="text" value="Ciudad de Guatemala">
                <input type="text" value="Soltero">
                <input type="text" value="Estudiante">
                <input type="date" value="19 años (23/12/1999)">
                <input type="submit" value="Guardar">
            </form>
        </div>
        <div>
            <div>
                CITAS
            </div>
            <div>
                HISTORIALES
            </div>
        </div>
    </div>
</body>
</html>