    <div>
        <div>
            <form action="">
                <input type="text" value="105849" disabled>
                <input type="text" value="Elmer Alejandro Chanquín Pérez">
                <input type="text" value="3029987800108">
                <input type="text" value="Guatemala">
                <input type="text" value="Ciudad de Guatemala">
                <input type="text" value="Soltero">
                <input type="text" value="Estudiante">
                <input type="date" value="19 años (23/12/1999)">
                <input type="submit" value="Guardar">
            </form>
        </div>
        <div>
            <div>
                CITAS
            </div>
            <div>
                HISTORIALES
            </div>
        </div>
    </div>