@media (min-width: 1200px){
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #2d2d2d;
}
header {
    padding: 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0px 1px 5px #888888;
}
.logo, .logo h1, nav, li, ul {
    display: inline;
}
nav {
    float: right;
}
nav a {
    text-decoration: none;
    color: #2d2d2d;
}
nav a:hover {
    color: #0a5f02;
}
li {
    margin: 0px 10px;
}
.logo h1 {
    color: #0a5f02;
}
.cabecera {
    padding: 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.titulo, .titulo h1, .busqueda, .busqueda form {
    display: inline;
}
.titulo h1 {
    font-size: 24px;
}
.busqueda form input, .busqueda form select {
    padding: 5px;
    height: 30px;
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    margin: 0px;
}
.contenedor {
    padding: 0px 150px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  th {
    height: 60px;
  }
  tr:first {
      height: 60px;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
      background-color: #f2f2f2;
  }
  button {
    cursor: pointer;
    border: none;
    background: #0a5f02;
    padding: 10px;
    border-radius: 2px;
    color: #fff;
  }
  .campo, .campo input, .campo select {
    width: 100%;
    margin: 10px 0px;
  }
  .campo input, .campo select {
    padding: 5px;
    height: 30px;
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    margin: 0px;
  }
  textarea {
    width: 100%;
    padding: 5px;
    height: 60px;
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    margin: 0px;
  }
  .campo input[type=radio] {
    height: 20px;
    width: 20px;
  }
  .campo p {
    font-size: 12px;
  }
  form button {
    width: 100%;
  }
  .contenedor-examen {
    display: grid;
    grid-template: auto/ 50% 50%;

  }
  .contenedor-comentarios {
    padding: 10px;
    display: grid;
    justify-content: center;
    grid-gap: 10px;
  }
  .contenedor-comentario {
    box-shadow: 0px 0px 5px #888888;
    padding: 10px;
  }
  .contenedor-comentario-fotos img{
      width: 50px;
      height: 50px;
      margin: 5px;
      display: inline-block;
  }
  a {
    color: #FFF;
    text-decoration: none;
  }
  input:disabled, textarea:disabled {
    border: none;
    background: #f2f2f2;
  }
  .dividido {
    display: grid;
    grid-template: auto / 40% 60%;
  }
  .contenedor_datos_persona {
    background: #499700;
    border-radius: 5px 0px 0px 0px;
    padding: 10px;
  }
  .contenedor_datos_persona p, .contenedor_datos_persona h3, .contenedor_datos_persona span, .contenedor_datos_persona h2 {
    color: #FFF;
  }
  .dividido_mitad {
    display: grid;
    grid-template: auto / 50% 50%;
  }
  .contenedor_registros div {
    padding: 10px;
  }
  .contenedor_registros {
    background: #f5f5f5;
    border-radius: 0px 5px 0px 0px;
  }
  .caja_sb {
    padding: 10px;
  }
  .caja {
    box-shadow: 0px 0px 2px #2d2d2d;
    border-radius: 2px;
    margin-top: 5px;
    padding: 10px;
  }
  .caja_blanca {
    background: #fff;
    height: 100px;
    padding: 10px;
  }
  .caja_menu {
    background: #fff;
    display: inline-block;
    margin: 0;
    padding: 5px;
    margin-right: -3px;
    cursor: pointer;
  }
 .deactivate {
   display: none;
 }
 .active {
   background: #d2d2d2;
 }
 .caja_tablas {
   border: 1px solid #d2d2d2;
 }
 .caja_historial {
   cursor: pointer;
 }
}
/* Pantalla laptop */
@media(max-width: 1200px){
  body {
    background: #2d2d2d;
  }
}
/* Pantalla Tablet */
@media(max-width: 820px){
  body {
    background: #8b3b3b;
  }
}
/* Pantalla Teléfono */
@media(max-width: 420px){
  body {
    background: #38a704;
  }
}